*{box-sizing:border-box; font-size: 1rem;}
body{font-family: 'Work Sans', sans-serif; font-weight: 300;
color:#567; margin:0; padding:0;}

h1{font-size: 5em; font-weight: 100;}
.container{margin: 0 auto; max-width: 50em; padding: 2rem}
header{background-color:#567; color:#fff}



svg,path,rect,ellipse,polygon,text{fill:currentcolor}


.example {padding:2rem;}
.example, .example path{transition: all 1s ease}
.example  svg{margin: 4rem auto;display:block;max-height: 10em; max-width: 25em; }


.example .only-dark-background{display:block !important;/*important is appropriate*/ opacity:0;}

.example:hover{background-color:#456; color:#fff}

.example:hover .only-dark-background{display:block !important;  opacity: 1; }
.example:hover .only-light-background{opacity:0;  }


.code-sample{border: .2em solid; overflow:auto;padding:2em; font-family: menlo, monospace ; }
.code-sample > div{line-height: 3em  ;}
.code-sample  span{display:inline-block ; white-space:nowrap;  }
.code-sample .element{ display:block; padding-top:2em; }
.code-sample .attribute{display:block; padding-left: 4.5em;   }
.code-sample .element > .attribute:first-child{display:inline; padding-left:1em}
.code-sample .value{position:relative;   padding-left: 0em;}
.code-sample span  em { user-select:none;-webkit-user-select:none;position:absolute; bottom:-0em; display:block;  font-size: .6em;padding: 0 .5em; height: 1.5em; line-height:1.5em; font-family:'Work Sans', sans-serif;font-style:normal;opacity:.5; left:0; text-transform: uppercase; font-weight: 600;}
.code-sample .value.coords{opacity:.5}
